<app-header></app-header>
<app-navigation></app-navigation>

<div class="images">
    <div class="imagesfirst">
        <img src="assets/images/camera.jpg" alt="">
        <img src="assets/images/canon.jpg" alt="">
        <img src="assets/images/iconka.jpg" alt="">
        <img src="assets/images/photochka.jpg" alt="">
        <img src="assets/images/scema.jpg" alt="">
        <img src="assets/images/set.jpg" alt="">
    </div>

    <div class="imagessecond">
        <img src="assets/images/photochka.jpg" alt="">
        <img src="assets/images/scema.jpg" alt="">
        <img src="assets/images/set.jpg" alt="">
        <img src="assets/images/camera.jpg" alt="">
        <img src="assets/images/canon.jpg" alt="">
        <img src="assets/images/iconka.jpg" alt="">
    </div>

    <div class="imagesthird">
        <img src="assets/images/iconka.jpg" alt="">
        <img src="assets/images/photochka.jpg" alt="">
        <img src="assets/images/camera.jpg" alt="">
        <img src="assets/images/canon.jpg" alt="">
        <img src="assets/images/scema.jpg" alt="">
        <img src="assets/images/set.jpg" alt="">
    </div>
</div>

<h1 class="date">{{date}}</h1>